:root {
    --pf-global--active-color--100: #3773a2;
    --pf-global--primary-color--100: #3773a2;
    --pf-global--BackgroundColor--dark-300: #3773a2;
    --pf-global--BackgroundColor--dark-100: #3773a2;
    --pf-global--BackgroundColor--dark-400: #285476;
}
