header, header h1, nav, nav ol, footer {
    display: inline-flex;
    margin: 0;
    padding: 0;
}
header {
    background: #fafafa;
    border-bottom: 1px solid black;
    height: 60px;
    width: 100%;
}
header h1 {
    height: 60px;
    width: 228px;
    align-items: center;
    justify-content: center;
}
header h1 a img {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 60px;
    text-align: center;
}
nav ol {
    margin: 0 1em;
    vertical-align: top;
}
nav li {
    display: inline-flex;
    align-items: center;
    _cursor: pointer;
    height: 100%;
}
nav li a {
    padding: 0 1em;
    text-transform: capitalize;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    height: 100%;
}
nav li:hover {
    text-decoration: underline;
}
nav li.active {
    background: #eef;
}
#page-container {
    position: relative;
    min-height: 100vh;
}
footer {
    align-items: center;
    background: #fafafa;
    border-top: 1px solid black;
    width: 100%;
    min-height: 1.5em;
    position: absolute;
    bottom: 0;
}
footer p.copyright {
    text-align: right;
    margin: 0 .25em 0 0;
    width: 100%;
}
footer p.help {
    text-align: left;
    margin: 0 .25em;
    width: 100%;
}

main {
    padding: 1em 1em 1.5em;
}

span.code {
    font-family: monospace;
    font-size: 133%;
    background: rgba(0,0,0,0.1);
}
span.red {
    color: red;
}

form.newuser div.entry {
    padding: 1em;
}
form.newuser p {
    margin: 0;
    padding: 0 0 .5em;
}

div.error_box {
    display: inline-block;
    margin: 1em 1.5em;
    padding: .7em;
    font-size: 16pt;
    border: 1px solid #666;
    border-radius: .2em;
}