name: wipac ci/cd

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'

jobs:

  py-versions:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.versions.outputs.matrix }}
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.sha }}  # lock to triggered commit (github.ref is dynamic)
      - id: versions
        uses: WIPACrepo/wipac-dev-py-versions-action@v2.8


  #############################################################################
  # IMAGE BUILDS
  #############################################################################

  keycloak-image-build:
    if: ${{ github.actor != 'dependabot[bot]' }} # dependabot cannot access PAT
    runs-on: ubuntu-latest
    outputs:
      keycloak-tag: ${{ steps.docker_meta.outputs.tags }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0  # setuptools-scm needs to access git tags
          ref: ${{ github.sha }}  # lock to triggered commit (github.ref is dynamic)
      - name: Docker meta
        id: docker_meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/WIPACRepo/keycloak-rest-services
          tags: |
            type=ref,prefix=test-keycloak-,event=branch
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: resources/keycloak-image/Dockerfile
          push: true
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}

  ldap-image-build:
    if: ${{ github.actor != 'dependabot[bot]' }} # dependabot cannot access PAT
    runs-on: ubuntu-latest
    outputs:
      ldap-tag: ${{ steps.docker_meta.outputs.tags }}
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.sha }}  # lock to triggered commit (github.ref is dynamic)
      - name: Docker meta
        id: docker_meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/WIPACRepo/keycloak-rest-services
          tags: |
            type=ref,prefix=test-ldap-,event=branch
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: resources/ldap-image/Dockerfile
          push: true
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}


  #############################################################################
  # LINTERS
  #############################################################################

  flake8:
    needs: [ py-versions ]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        py3: ${{ fromJSON(needs.py-versions.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.sha }}  # lock to triggered commit (github.ref is dynamic)
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.py3 }}
      - uses: WIPACrepo/wipac-dev-flake8-action@v1.3
        with:
          max-complexity: 28  # ideal is ~10-15

  # mypy:
  #   needs: [ py-versions ]
  #   runs-on: ubuntu-latest
  #   strategy:
  #     max-parallel: 4
  #     fail-fast: false
  #     matrix:
  #       py3: ${{ fromJSON(needs.py-versions.outputs.matrix) }}
  #   steps:
  #     - uses: actions/checkout@v6
  #       with:
  #         fetch-depth: 0  # setuptools-scm needs to access git tags
  #         ref: ${{ github.sha }}  # lock to triggered commit (github.ref is dynamic)
  #     - uses: actions/setup-python@v6
  #       with:
  #         python-version: ${{ matrix.py3 }}
  #     - uses: WIPACrepo/wipac-dev-mypy-action@v2.0


  #############################################################################
  # PACKAGING
  #############################################################################

  py-setup:
    if: ${{ github.actor != 'dependabot[bot]' }} # dependabot cannot access PAT
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          ref: ${{ github.ref }}  # dont lock to sha (action needs to push)
      - uses: WIPACrepo/wipac-dev-py-setup-action@v5.9
        with:
          mode: PACKAGING_AND_PYPI
          python_min: "3.10"
          python_max: "3.14"
          pypi_name: wipac-keycloak-rest-services
          package_dirs: krs
          author: WIPAC Developers
          author_email: developers@icecube.wisc.edu
          keywords_comma: "WIPAC, rest tools, utilities"
          auto_mypy_option: True

  py-dependencies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0  # setuptools-scm needs to access git tags
          ref: ${{ github.sha }}  # lock to triggered commit (github.ref is dynamic)
      - uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          tags: krs:py-dep-this
          load: true
      - uses: WIPACrepo/wipac-dev-py-dependencies-action@v3.4
        with:
          dockerfile_ignore_paths: "resources/keycloak-image/Dockerfile, resources/ldap-image/Dockerfile"


  #############################################################################
  # TESTS
  #############################################################################

  pip-install:
    needs: [ py-versions ]
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      fail-fast: false
      matrix:
        py3: ${{ fromJSON(needs.py-versions.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0  # setuptools-scm needs to access git tags
          ref: ${{ github.sha }}  # lock to triggered commit (github.ref is dynamic)
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.py3 }}
      - run: |
          set -euo pipefail
          pip install --upgrade pip wheel setuptools
          pip install .[actions]

  tests:
    needs: [ keycloak-image-build, ldap-image-build, py-versions ]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        test: [ "actions", "krs" ]
    services:
      rabbitmq:
        image: rabbitmq:4.2-management
        env:
          RABBITMQ_DEFAULT_USER: admin
          RABBITMQ_DEFAULT_PASS: admin
          RABBITMQ_DEFAULT_VHOST: keycloak
          RABBITMQ_NODENAME: rabbit@rabbitmq
        options: --health-cmd "rabbitmqctl node_health_check" --health-interval 10s --health-timeout 5s --health-retries 5
        ports:
          - 5672:5672
          - 15672:15672
      ldap:
        image: ${{ needs.ldap-image-build.outputs.ldap-tag }}
        ports:
          - 1389:1389
      keycloak:
        image: ${{ needs.keycloak-image-build.outputs.keycloak-tag }}
        env:
          KEYCLOAK_ADMIN: admin
          KEYCLOAK_ADMIN_PASSWORD: admin
          KK_TO_RMQ_URL: rabbitmq
          CMD: start-dev
        ports:
          - 8080:8080
    container:
      image: python:${{ fromJSON(needs.py-versions.outputs.matrix)[0] }}
      env:
        KEYCLOAK_URL: http://keycloak:8080
        KEYCLOAK_USERNAME: admin
        KEYCLOAK_PASSWORD: admin
        LDAP_URL: ldap://ldap:1389
        LDAP_ADMIN_USER: "cn=admin,dc=icecube,dc=wisc,dc=edu"
        LDAP_ADMIN_PASSWORD: admin
        RABBITMQ_MGMT_URL: http://rabbitmq:15672
        RABBITMQ_URL: amqp://admin:admin@rabbitmq/keycloak
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0  # setuptools-scm needs to access git tags
          ref: ${{ github.sha }}  # lock to triggered commit (github.ref is dynamic)
      - run: |
          set -euo pipefail
          pip install --upgrade pip wheel setuptools
          pip install .[tests,actions]
        shell: bash
      - run: |
          set -euo pipefail
          python -m pytest tests/${{ matrix.test }} --tb=short --log-level=DEBUG
        shell: bash


  ############################################################################
  # TAG + RELEASE
  #############################################################################

  release-version:
    if: format('refs/heads/{0}', github.event.repository.default_branch) == github.ref
    needs: [
      py-versions,
      flake8,
      pip-install,
      py-setup,
      py-dependencies,
      tests,
    ]
    runs-on: ubuntu-latest
    outputs:
      next-version: ${{ steps.next-version.outputs.version }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0  # setuptools-scm needs to access git tags
          ref: ${{ github.sha }}  # lock to triggered commit (github.ref is dynamic)
      # copied from tag-and-release
      - name: Determine next version
        uses: WIPACrepo/wipac-dev-next-version-action@v1.5
        id: next-version
        with:
          force-patch-if-no-commit-token: true
          ignore-paths: |
            **/README.md
            .github/**
            .gitignore

  tag-and-release:
    # only run on main/default
    if: format('refs/heads/{0}', github.event.repository.default_branch) == github.ref && needs.release-version.outputs.next-version != ''
    needs: [
      py-versions,
      flake8,
      pip-install,
      py-setup,
      py-dependencies,
      tests,
      release-version,
    ]
    uses: WIPACrepo/wipac-dev-workflows/.github/workflows/tag-and-release.yml@v1.20
    permissions: # for GITHUB_TOKEN
      contents: write
    with:
      project-type: python
      python-version: "${{ fromJSON(needs.py-versions.outputs.matrix)[0] }}"
      release-artifacts: |
        py-dependencies-logs
      publish-to-pypi: true
    secrets:
      PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}

  image-publish:
    if: format('refs/heads/{0}', github.event.repository.default_branch) == github.ref && needs.release-version.outputs.next-version != ''
    needs: [
      tag-and-release,
      release-version,
    ]
    uses: WIPACrepo/wipac-dev-workflows/.github/workflows/image-publish.yml@v1.20
    permissions: # for GITHUB_TOKEN
      packages: write
    with:
      image_namespace: wipacrepo
      image_name: keycloak-rest-services
      mode: BUILD
      build_args: |
        SETUPTOOLS_SCM_PRETEND_VERSION=${{ needs.release-version.outputs.next-version }}
      extra_build_tag: ${{ needs.release-version.outputs.next-version }}
